<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
   
   
   Order deny,allow
   Deny from 18.237.141.91
   Deny from 3.86.3.96
   Deny from 18.188.80.114
   Deny from 3.21.162.84
   Deny from 18.191.142.124
   Deny from 45.125.239.179
    
    # Aquí especifica ext |
    <Files ~ "\.(env|json|config.js|md|gitignore|gitattributes|lock|txt)$">
        Order allow,deny
        Deny from all
    </Files>
    
    # Aquí especifica nombres |
    <Files ~ "(artisan)$">
        Order allow,deny
        Deny from all
    </Files>
    

    # Handle Authorization Header
    RewriteCond %{HTTPS} !=on
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
    Header always set Content-Security-Policy "upgrade-insecure-requests;"
    # RewriteCond %{HTTP:Authorization} .
    # RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
